---
version: 2
interactions:
    - id: 0
      request:
        host: api.open-notify.org
        body: ""
        form: {}
        headers: {}
        url: http://api.open-notify.org/iss-now.json
        method: GET
      response:
        body: '{"timestamp": 1734874602, "iss_position": {"longitude": "2.6217", "latitude": "-19.5888"}, "message": "success"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.33755225s
