---
version: 2
interactions:
    - id: 0
      request:
        host: api.open-notify.org
        body: ""
        form: {}
        headers: {}
        url: http://api.open-notify.org/iss-now.json
        method: GET
      response:
        body: '{"timestamp": 1734874602, "iss_position": {"longitude": "2.6217", "latitude": "-19.5888"}, "message": "success"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 2.33755225s
    - id: 1
      request:
        host: api.open-notify.org
        body: ""
        form: {}
        headers: {}
        url: http://api.open-notify.org/astros.json
        method: GET
      response:
        body: '{"people": [{"craft": "ISS", "name": "Oleg Kononenko"}, {"craft": "ISS", "name": "Nikolai Chub"}, {"craft": "ISS", "name": "Tracy Caldwell Dyson"}, {"craft": "ISS", "name": "Matthew Dominick"}, {"craft": "ISS", "name": "Michael Barratt"}, {"craft": "ISS", "name": "Jeanette Epps"}, {"craft": "ISS", "name": "Alexander Grebenkin"}, {"craft": "ISS", "name": "Butch Wilmore"}, {"craft": "ISS", "name": "Sunita Williams"}, {"craft": "Tiangong", "name": "Li Guangsu"}, {"craft": "Tiangong", "name": "Li Cong"}, {"craft": "Tiangong", "name": "Ye Guangfu"}], "number": 12, "message": "success"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 7.688263458s
