{
  "openapi": "3.1.0",
  "info": {
    "title": "ISS Current Location",
    "description": "Provides the current location of the International Space Station including latitude, longitude, and timestamp. Offers both JSON and JSONP formats for easy access. Users are advised to poll the API no more than once every 5 seconds.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.open-notify.org/"
    }
  ],
  "paths": {
    "/iss-now.json": {
      "get": {
        "operationId": "GetIssLocation",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ISSLocationResponse"
          }
        }
      }
    },
    "/astros.json": {
      "get": {
        "operationId": "GetAstrosJSON",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAstrosJSONOkResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ISSLocation": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "example": 1734874602
          },
          "iss_position": {
            "$ref": "#/components/schemas/ISSPosition"
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        },
        "required": [
          "timestamp",
          "iss_position",
          "message"
        ],
        "example": {
          "timestamp": 1734874602,
          "iss_position": {
            "longitude": "2.6217",
            "latitude": "-19.5888"
          },
          "message": "success"
        }
      },
      "ISSPosition": {
        "type": "object",
        "properties": {
          "longitude": {
            "type": "string",
            "example": "2.6217"
          },
          "latitude": {
            "type": "string",
            "example": "-19.5888"
          }
        },
        "required": [
          "longitude",
          "latitude"
        ],
        "example": {
          "longitude": "2.6217",
          "latitude": "-19.5888"
        }
      },
      "GetAstrosJSONOkJSONResponse": {
        "type": "object",
        "properties": {
          "people": {
            "$ref": "#/components/schemas/GetAstrosJSONOkJSONResponsePeople"
          },
          "number": {
            "type": "integer",
            "example": 12
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        },
        "required": [
          "people",
          "number",
          "message"
        ],
        "example": {
          "people": [
            {
              "craft": "ISS",
              "name": "Oleg Kononenko"
            },
            {
              "craft": "ISS",
              "name": "Nikolai Chub"
            },
            {
              "craft": "ISS",
              "name": "Tracy Caldwell Dyson"
            },
            {
              "craft": "ISS",
              "name": "Matthew Dominick"
            },
            {
              "craft": "ISS",
              "name": "Michael Barratt"
            },
            {
              "craft": "ISS",
              "name": "Jeanette Epps"
            },
            {
              "craft": "ISS",
              "name": "Alexander Grebenkin"
            },
            {
              "craft": "ISS",
              "name": "Butch Wilmore"
            },
            {
              "craft": "ISS",
              "name": "Sunita Williams"
            },
            {
              "craft": "Tiangong",
              "name": "Li Guangsu"
            },
            {
              "craft": "Tiangong",
              "name": "Li Cong"
            },
            {
              "craft": "Tiangong",
              "name": "Ye Guangfu"
            }
          ],
          "number": 12,
          "message": "success"
        }
      },
      "GetAstrosJSONOkJSONResponsePeople": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/GetAstrosJSONOkJSONResponsePeopleItems"
        },
        "example": [
          {
            "craft": "ISS",
            "name": "Oleg Kononenko"
          },
          {
            "craft": "ISS",
            "name": "Nikolai Chub"
          },
          {
            "craft": "ISS",
            "name": "Tracy Caldwell Dyson"
          },
          {
            "craft": "ISS",
            "name": "Matthew Dominick"
          },
          {
            "craft": "ISS",
            "name": "Michael Barratt"
          },
          {
            "craft": "ISS",
            "name": "Jeanette Epps"
          },
          {
            "craft": "ISS",
            "name": "Alexander Grebenkin"
          },
          {
            "craft": "ISS",
            "name": "Butch Wilmore"
          },
          {
            "craft": "ISS",
            "name": "Sunita Williams"
          },
          {
            "craft": "Tiangong",
            "name": "Li Guangsu"
          },
          {
            "craft": "Tiangong",
            "name": "Li Cong"
          },
          {
            "craft": "Tiangong",
            "name": "Ye Guangfu"
          }
        ]
      },
      "GetAstrosJSONOkJSONResponsePeopleItems": {
        "type": "object",
        "properties": {
          "craft": {
            "type": "string",
            "example": "ISS"
          },
          "name": {
            "type": "string",
            "example": "Oleg Kononenko"
          }
        },
        "required": [
          "craft",
          "name"
        ],
        "example": {
          "craft": "ISS",
          "name": "Oleg Kononenko"
        }
      }
    },
    "responses": {
      "ISSLocationResponse": {
        "description": "Returns the current location of the International Space Station",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ISSLocation"
            },
            "example": {
              "timestamp": 1734874602,
              "iss_position": {
                "longitude": "2.6217",
                "latitude": "-19.5888"
              },
              "message": "success"
            }
          }
        }
      },
      "GetAstrosJSONOkResponse": {
        "description": "TODO",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetAstrosJSONOkJSONResponse"
            },
            "example": {
              "people": [
                {
                  "craft": "ISS",
                  "name": "Oleg Kononenko"
                },
                {
                  "craft": "ISS",
                  "name": "Nikolai Chub"
                },
                {
                  "craft": "ISS",
                  "name": "Tracy Caldwell Dyson"
                },
                {
                  "craft": "ISS",
                  "name": "Matthew Dominick"
                },
                {
                  "craft": "ISS",
                  "name": "Michael Barratt"
                },
                {
                  "craft": "ISS",
                  "name": "Jeanette Epps"
                },
                {
                  "craft": "ISS",
                  "name": "Alexander Grebenkin"
                },
                {
                  "craft": "ISS",
                  "name": "Butch Wilmore"
                },
                {
                  "craft": "ISS",
                  "name": "Sunita Williams"
                },
                {
                  "craft": "Tiangong",
                  "name": "Li Guangsu"
                },
                {
                  "craft": "Tiangong",
                  "name": "Li Cong"
                },
                {
                  "craft": "Tiangong",
                  "name": "Ye Guangfu"
                }
              ],
              "number": 12,
              "message": "success"
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "API documentation",
    "url": "http://open-notify.org/Open-Notify-API/ISS-Location-Now/"
  }
}